*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    bottom: 0;
}
li{
    list-style: none;
}
a,
a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-size: inherit;
    font-weight: inherit;
}
img{
    vertical-align: top;
}
h1{
    color: rgb(155, 110, 110);
}
.text{
    color: purple;
}
span{
    color: rgb(165, 22, 22);
}
a,li{
    color: rgb(140, 19, 140);
}
.name {
    color: rgba(118, 40, 40, 0.912);
}
.information {
    color: rgb(102, 14, 102);
}